.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 7px 10px 8px;
 height: 39px;
 text-align: center;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }

 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }




















.combo-header{
    width: 600px !important;
    height: 510px !important;
}
.combo-header .combo-selection{
    height: 400px;
}
.combo-header .combo-type{
    height: 100% !important;
}
.combo-required, .combo-optional{
    overflow-y: auto;
    height: 85% !important;
}
.combo-header .title{
    background: #875a7b !important;
    color: #ffffff;
    padding: 10px !important;
}
.combo-header .combo-head-type{
    background: #ffffff !important;
    color: #875a7b !important;
}

.combo-header .combo-category{
    border: 1px solid #875a7b;
    padding-bottom: 10px;
}

.combo-header .combo-category-head {
    background: #875a7b !important;
    color: #ffffff;
}

.pos .combo-receipt{
    font-size: 13px;
    font-style: italic;
}

.pos .combo-select{
    position: absolute;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    display: none;
    width: 100%;
    top: 52px;
    left: 0px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #875a7b;
}

.pos .modal-dialog .popup {
    position: absolute;
    margin: auto;
    max-width: 680px !important;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #F0EEEE;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 40%);
    z-index: 1200;
    font-family: 'Lato';
    font-family: Lato;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

